#!/usr/bin/env python3

PACKAGE = "shifted_line_pkg"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# param, data_type, 0, description, defaut, min, max
# sunny
gen.add("light_low", double_t, 0, "please adjust based on environment lighting", 237.0, 0.0, 255.0)

# overcast
# gen.add("light_low", double_t, 0, "please adjust based on environment lighting", 232.05, 0.0, 255.0)

# the third parameter must match this file's name
exit(gen.generate(PACKAGE, "line_follow", "LineFollow"))
